

{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
     {{ view.page_title }} | SmartRead

    </title>
{#    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">#}
</head>
<body>

{#<div class="container">#}
{##}
{##}
{##}
{#    <div style="float:right">#}
{#        <a href="{% url "expenses:create_account" %}">Add Account</a>#}
{#        |#}
{#        <a href="{% url "expenses:create" %}">Add Expense</a>#}
{#        |#}
{#        {{ user }}#}
{#        |#}
{#        <a href="{% url 'logout' %}">Logout</a>#}
{#    </div>#}
{##}
{#    <h1>#}
{#        ExMaster!!!!!!!!!!!!!#}
{#    </h1>#}
{##}
{#    <div>#}

        {% block content %}
            CONTENT jadjkasnjdkwjdKL
        {% endblock %}

{#    </div>#}

{#</div>#}

</body>
</html>